<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="__PUBLIC__/huanyu.jpg" mce_href="//www.jd.com/favicon.ico" type="image/x-icon" /> 
    <title>寰宇数码后台</title>

  </head>
      <frameset rows="63, *" frameborder=0 border=0 framespacing=0  >
        <frame name=top src="Admin/Index/top" />
        <frameset cols="200,*" frameborder=0 border=0 framespacing=0 >
          <frame name=left src="Admin/Index/left" frameborder=0 noresize  />
          <frame name=right src="Admin/Index/right" frameborder=0 noresize  />
        </frameset>
        
      </frameset> 
</html>