<extend name="Public:public"/>
<block name="title">我的购物车</block>
<block name="width">style="margin: 27px 30px 0 165px;"</block>
<block name="admin">
<script type="text/javascript" async="" src="__PUBLIC__/Cart/wl.js"></script><script type="text/javascript" async="" src="__PUBLIC__/Cart/idigger.js"></script>
<script type="text/javascript" src="__PUBLIC__/Cart/jquery-1.6.4.js"></script>
<script type="text/javascript" src="__PUBLIC__/Cart/base.js"></script>
<link source="widget" href="__PUBLIC__/Cart/saved_resource(1)" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Cart/saved_resource(2)" source="widget">
<div id="container" class="cart" ecarddg="0" cartalwaysdg="0" t="0">
    <div class="w"> 
    <div id="chunjie" class="mb10"></div>
        <div class="cart-empty">
            <div class="message">
                <ul>
                    <li class="txt">
                        购物车空空的哦~，去看看心仪的商品吧~
                    </li>
                    <li class="mt10">
                        <a href="__ROOT__" class="ftx-05">
                            去购物&gt;
                        </a>
                    </li>
                    <li class="mt10">
                        <a id="fridge-a" href="https://cart.jd.com/myfridge.action" clstag="pageclick|keycount|cart_20170414|02" class="ftx-05" style="display:none">
                        去逛逛我的冰箱&gt;
                        </a>
                    </li>
                </ul>
            </div>  
        </div>
    </div>
    <div class="w">
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Cart/config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Cart/cart-recommend.js"></script>
<script type="text/javascript" src="__PUBLIC__/Cart/ceilinglamp.js"></script>
<script type="text/javascript" src="__PUBLIC__/Cart/im_cart_v1.js"></script>
<script type="text/javascript" src="__PUBLIC__/Cart/saved_resource(4)"></script>
<script src="__PUBLIC__/Cart/td.js"></script><script src="__PUBLIC__/Cart/y.html"></script><div id="J-global-toolbar">
</block>