<extend name="Public:public"/>
<block name="admin">
    <div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span><i class="icon-pictures"></i>轮播图　　　</span> 
                    </div>
                    <div class="mws-panel-body">
                        <ul class="thumbnails mws-gallery">
                        <if condition="$number gt 0">
                            <foreach name="data" item="row">
                                <li style="width: 250px">
                                    <span class="thumbnail"><img src="__ROOT__{$row['pic']}" alt=""></span>
                                    <span class="mws-gallery-overlay">
                                        <a href="__MODULE__/Lunbo/edit?id={$row['id']}" class="mws-gallery-btn"><i class="icon-pencil"></i></a>
                                        <a href="__MODULE__/Lunbo/delete?id={$row['id']}" onclick="if (confirm('确定删除？')) return true; else return false;" class="mws-gallery-btn"><i class="icon-trash"></i></a>
                                    </span>
                                </li>
                            </foreach>
                        <else /><span><i class="icol-exclamation"></i>当前还未添加任何轮播图，先去<a href="__MODULE__/Lunbo/add">添加</a>吧</span>
                        </if>
                        </ul>
                    </div>
                </div>
</block>